python-dotenv #Specifically use for call the environment variables 
numpy
pandas
matplotlib
seaborn
scikit-learn
pymongo
pymongo[srv]
certifi
dill
pyyaml

# -e . # it will create a folder with the different details of the current Project:::: i think it is good to UnComment end of the project at that time it will create all the details